h1{
text-align: center;
color:white;
font-size:70px;
font-weight:bold;
}
body{
/*background:linear-gradient(90deg,#0C72B6,#763B9D);*/
text-align:center;
font-family:'Roboto';
animation-name: change;
animation-duration: 10s;
animation-iteration-count: infinite;
    }
#background-color {
animation-name: change;
animation-duration: 10s;
animation-iteration-count: infinite;
}
@keyframes change {
0%{
background-color:#0f79bf;
}
/*25%{*/
/*background-color:#0d89db;*/
/*}*/
50%{
background-color:#763b9d
}
/*75%{*/
/*background-color:#5a3b9d;*/
/*}*/
100%{
background-color:#0f79bf;
}
}
.center{
margin-left:auto;
margin-right:auto;
color:white;
text-decoration:none;
font-size:15px;
}
#Education{
/*margin-left:auto;*/
/*margin-right:auto;*/
text-align:center;
margin: -50px 20px 30px 200px;
}
#Welcome{
text-align:center;
font-size:25px;
}
#button {
text-align:center;
padding: 10px 10px 10px 10px;
border-radius: 10%;
/*background-color: #5587C9;*/
background-color: rgba(85, 135, 201,0.1);
border-color:white;
margin-bottom: 20px;
}
button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode:forwards;
  }
@keyframes background-color{
  100% {
    background-color:#8DBCF9 ;
  }
}
#Parent-Register
{
margin-left:auto;
margin-right:auto;
text-align:center;
}
#line {
display:inline;
}
#Student-Register
{
display:inline;
}
#Instruction
{
font-size:15px;
}
#Forgot-Password{
font-size:15px;
}
#slash
{
display:inline;
}
#Datacation
{
display:inline;
}
#border{
margin-left:auto;
margin-right:auto;
background-color: rgba(85, 135, 201,0.3);
height:250px;
width:325px;
border-radius: 2%;
}
