h1{
text-align: center;
color:white;
font-size:70px;
font-weight:bold;
}
body{
     background:linear-gradient(90deg,#0C72B6,#763B9D);
    }
.center{
margin-left:auto;
margin-right:auto;
color:white;
text-decoration:none;
}
#Education{
/*margin-left:auto;*/
/*margin-right:auto;*/
text-align:center;
margin: -45px 20px 30px 200px;
}
#Welcome{
text-align:center;
}
#button {
padding: 10px 10px 10px 10px;
border-radius: 10%;
/*background-color: #5587C9;*/
background-color: rgba(85, 135, 201,0.4);
border-color:white;
}
button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode:forwards;
  }
@keyframes background-color{
  100% {
    background-color:#8DBCF9 ;
  }
}
#Parent-Register
{
font-size:15px;

}
#line {
font-size:15px;
}
#Student-Register
{
font-size:15px;
}
#Instruction
{
font-size:15px;
}
#Forgot-Password{
font-size:15px;
}
#CaseNEX{
font-size:15px;
}
#slash
{
font-size:20px;
}
#Datacation
{
font-size:15px;;
}

