h1{
text-align: center;
color:white;
font-size:70px;
font-weight:bold;
}
body{
     background:linear-gradient(90deg,#0C72B6,#763B9D);
     text-align:center;
    }
.center{
margin-left:auto;
margin-right:auto;
color:white;
text-decoration:none;
font-size:15px;
}
#Education{
/*margin-left:auto;*/
/*margin-right:auto;*/
text-align:center;
margin: -45px 20px 30px 200px;
}
#Welcome{
text-align:center;
font-size:25px;
}
#button {
text-align:center;
padding: 10px 10px 10px 10px;
border-radius: 10%;
/*background-color: #5587C9;*/
background-color: rgba(85, 135, 201,0.4);
border-color:white;
}
button:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode:forwards;
  }
@keyframes background-color{
  100% {
    background-color:#8DBCF9 ;
  }
}
#Parent-Register
{
margin-left:auto;
margin-right:auto;
text-align:center;
}
#line {
display:inline;
}
#Student-Register
{
display:inline;
}
#Instruction
{
}
#Forgot-Password{
}
#CaseNEX{
}
#slash
{
}
#Datacation
{
}
#border{
/*width: 300px;*/
/*border: 15px solild;*/
/*padding: 50px;*/
/*margin: 20px;*/
margin-left:auto;
margin-right:auto;
background-color: rgba(85, 135, 201,0.4);
height:250px;
width:300px;
border-radius: 2%;
}
